@model PlatformsIndexViewModel
@{
    ViewBag.Title = Model.Platform.Name;
}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Platform.Name</h5>
        <p class="card-text">@Html.Raw(Model.Platform.Description)</p>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Games)
        {
            <li class="list-group-item">@item.Name</li>
        }
    </ul>
    <div class="card-body">
        <a asp-controller="Home" asp-action="index" class="card-link">Retour</a>
    </div>
</div>